* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.head {

    background-color: #363636;

}

.container {
    width: 1145px;
    margin: 0 auto;
}

.head .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .container .contact {
    height: 60px;
    display: flex;
    align-items: center;
}

.head .iconfont,
span {
    color: #ffffff;
    font-size: .9em;
    font-weight: 600;
    text-align: center;
}

.contact-r {
    padding-left: 25px;
}

.search {
    display: flex;
    width: 205px;
    border: 1px solid#fff;
}

.search input {
    height: 30px;
    width: 170px;
    border: none;
    color: #ffffff;
    background: none;
    border-right: 1px solid#fff;

}

.search input::placeholder {
    color: #fff;
}

.search button {
    height: 30px;
    width: 25px;
    border: none;
    background: none;
}

.nav .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo a {
    color: #dca44b;
}

.nav .menu ul {
    display: flex;

}

.nav .menu ul li {
    padding: 0 30px;
}



.swiper-container {
    height: 700px;
}

.swiper-container img {
    width: 100%;
}

.swiper-pagination-bullet-active {
    background: #dca44b !important;
}

.swiper-pagination-bullets {
    bottom: 200px !important;
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    margin: 0 6px !important;
    border: 2px solid#fff;
}

.swiper-slide h2 {
    margin-top: 300px;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
}

.swiper-slide p {
    line-height: 2.2em;
    text-align: center;
    color: #e2dfdf;
    font-weight: 500;
    letter-spacing: 2px;
}

.container h2 {
    text-align: center;
    font-size: 42px;
    color: #f2184f;
    padding: 40px 0;
    font-weight: normal;
}

.tuwen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.wen {
    padding-left: 30px;
}

.wen h6 {

    font-size: 14px;
    font-weight: bold;
    color: #3f3f3f;

}

.wen p {
    font-size: 14px;
    color: #999999;
    padding: 10px 0;
    line-height: 25px;
}

.more {
    width: 130px;
    height: 40px;
    margin-top: 35px;
    background-color: #dca44b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more:hover {
    background-color: #000;
    transition: .5s ease-in;
}

.more a {
    color: #fff;
    transition: .5s ease-in;
}

.bg1 {
    width: 100%;
    height: 451px;
    margin: 0 auto;
    background: url(image/s11.jpg)no-repeat center;
    background-size: 100%;
    /* display: flex;
    flex-direction: row-reverse; */
}

.bg1 p {
    text-align: right;
    color: #e9e8e8;
    line-height: 70px;
    padding-right: 80px;
}

.bg1 .p1 {

    padding-top: 80px;
}

.bg1 .iconfont {
    margin: 20px 65px;
    font-size: 40px;
    color: #dca44b;
    font-weight: bold;
}

.banner-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 50%;
    display: flex;
}

.banner .content {
    width: 50%;
    height: 400px;
    background-color: #dca44b;

}

.banner .content-l {
    padding: 110px 80px 120px 30px;
}

.banner .content-l h4 {
    font-size: 0.9em;
    font-weight: 600;
    color: #230303;
    margin-bottom: 1em;
}

.banner .content-l p {
    font-size: 0.9em;
    color: #fff;
    margin: 1em 0;

}

.banner .content-l a {
    color: #222323;
    letter-spacing: 2px;
}

.jiaju {
    width: 50%;
    height: 400px;
}

.banner .more {
    width: 130px;
    height: 40px;
    margin: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .more:hover {
    background-color: #c32040;
}

.banner .more a {
    color: #000;
}

.banner .more a:hover {
    color: #fff;
    transition: .5s ease-in;
}

.content-2 {
    height: 175px;
    background-color: #c32040;
}

.container .swiper-container {
    height: 300px;
}

.content-2 .container h2 {
    text-align: center;
    font-size: 42px;
    color: #fff;
    padding: 30px 0;
    font-weight: normal;
}

.container .swiper-container p {
    color: #999;
}

.container .swiper-container h4 {
    color: #212121;
    text-align: center;
    padding-top: 20px;
}

.container .swiper-container h5 {
    color: #e5c188;
    text-align: center;
    padding-top: 10px;
}

.content-2 form {
    width: 590px;
    height: 50px;
    display: flex;
    margin: 0px auto;
    margin-bottom: 20px !important;
}

.content-2 form input {
    width: 510px;
}

.content-2 form button {
    width: 70px;
    background-color: #efb312;
    border: none;

}

.content-2 form button i {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}

.content-3 {
    height: 340px;
    background-color: #000;
}

.sanlie {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}

.sanlie .lianxi .p5 {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: .6em;
    font-weight: 600;
}

.sanlie .lianxi .p6 {
    color: #9c9c9c;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.sanlie .lianxi p a {
    color: #EA3621;
    font-size: 20px;
    transition: .5s ease-in;
}

.sanlie .lianxi p a:hover {
    color: #fff;
}

.content-5::before {
    content: "";
    display: block;
    width: 23%;
    height: 0.5%;
    background-color: #dca44b;
    position: absolute;
    left: 450px;
    margin-top: 50px;
}

.content-5::after {
    content: "";
    display: block;
    width: 23%;
    height: 0.5%;
    background-color: #dca44b;
    position: absolute;
    right: 450px;
    margin-top: -50px;
}

.logo2 {
    display: flex;
    justify-content: center;
}

.content-3 h3 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
    font-weight: normal;
    letter-spacing: 6px;

}

.footer {
    height: 60px;
    background-color: #dca44b;
    display: flex;
    align-items: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .container .title-l a {
    color: #fff;
    font-size: 30px;
    line-height: 60px;
}

.title-r ul {
    display: flex;
    align-items: center;
}

.title-r ul li {
    padding: 20px;
}

.title-r ul li a {
    color: #fff;
    font-size: 16px;
}

.banquan {
    background-color: #020202;
    height: 50px;
}

.banquan p {
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 50px;
}