/* .nav ul {
  list-style: none;
  background-color: #333;
}
.nav ul::after {
  content: "";
  display: table;
  clear: both;
}
.nav ul > li {
  float: left;
  position: relative;
}
.nav ul li a {
  color: #eee;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  line-height: 1;
  border-left: 1px solid#595959;
}
.nav a:hover {
  background-color: #595959;
}
.nav li ul {
  background-color: #273754;
}
.nav li ul a {
  border: 0;
}
.nav li ul li {
  width: 150px;
}
.nav li ul a:hover {
  background-color: rgb(0, 0, 0, 0.2);
}
.nav1 ul > li:hover ul {
  left: 0;
}
.nav1 li ul {
  left: 9999em;
  position: absolute;
  top: 36px;
} */

/* .nav ul {
  list-style: none;
  background-color: #333333;
}
.nav ul::after {
  content: "";
  display: block;
  clear: both;
}
.nav ul > li {
  float: left;
  position: relative;
}
.nav ul li a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  line-height: 1.2em;
  text-decoration: none;
  border-right: 1px solid#595959;
}
.nav ul li a:hover {
  background-color: #595959;
}
.nav li ul {
  background-color: #273754;
}
.anv li ul li {
  width: 200px;
}
.anv li ul li a {
  border: 0;
}
.anv li ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav1 ul > li:hover ul {
  left: 0;
}
.nav1 li ul {
  position: absolute;
  left: 9999em;
  top: 36px;

} */
* {
  margin: 0;
  padding: 0;
}
.nav > ul {
  margin: 0;
  padding: 0;
  width: 554px;
  margin: 20px auto;
  list-style-type: none;
  background-color: #333;
}
.nav ul:after {
  content: "";
  display: block;
  clear: both;
}
.nav ul > li {
  position: relative;
  float: left;
  text-align: center;
}
.nav ul li a {
  display: block;
  color: #fff;
  line-height: 1.2em;
  text-decoration: none;
  padding: 10px 20px;
  border-right: 1px solid#595959;
}
.nav ul li a:hover {
  background-color: #595959;
}
.nav li ul {
  list-style: none;
  background-color: #273752;
}
.nav li ul li a:hover {
  background-color: #595959;
}
.nav li ul li {
  text-align: center;
  width: 111px;
}
.nav1 ul > li:hover ul {
  left: 0;
}
.nav1 li ul {
  position: absolute;
  left: 9999em;
  top: 39px;
  display: flex;
  flex-direction: column;
}
