body,
html {
  line-height: 1.4;
  color: #333;
  font-family: arial, \\5fae\8f6f\96c5\9ed1;
  font-size: 12px;
}
input,
select,
textarea {
  font-size: 100%;
  font-family: \\5fae\8f6f\96c5\9ed1, inherit;
}
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}
h4,
h5,
h6 {
  font-size: 1em;
}
ol,
ul {
  padding-left: 0;
  list-style-type: none;
}
img {
  border: 0;
}
a {
  text-decoration: none;
}
a.white {
  color: hsla(0, 0%, 100%, 0.7);
}
.menu-wrap .menu[data-v-5ee135ec] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}
ol,
ul {
  padding-left: 0;
  list-style-type: none;
}
.menu-wrap .menu li[data-v-5ee135ec] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.menu-wrap .menu li a.btn[data-v-5ee135ec] {
  display: inline-block;
  color: #1966aa;
  line-height: 80px;
  font-weight: 700;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 19.2px;
  font-size: 1.2rem;
  z-index: 199;
}
a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.menu-wrap .menu li[data-v-5ee135ec] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}
.menu-wrap .menu li .sub-menu[data-v-5ee135ec] {
  position: absolute;
  z-index: 5;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: -200%;
  padding: 0 64px;
  padding: 0 4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: hsla(0, 0%, 99%, 0.9);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
