/* 样式预设 */
@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
body {
  line-height: 24px;
  color: #333;
  font-family: arial, \\5fae\8f6f\96c5\9ed1;
  font-size: 12px;
}
table,
td,
tr,
ul,
ol,
li,
dl,
dd,
dt,
p,
input,
form,
em,
p,
img,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}
h1 {
  color: #232323;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
p,
span {
  font-size: 12px;
}

ul {
  list-style: none;
}

img {
  border: 0;
}
a {
  text-decoration: none;
  color: #1966aa;
}

a:hover {
  color: #000000;
}
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: hsla(0, 0%, 99%, 0.9);
}
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  display: block;
  box-sizing: none;
}
.menu {
  width: 585px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
}
.menu ul li {
  position: relative;
  width: 100%;
}
.menu ul li a {
  font-weight: 700;
  font-size: 14px;
  line-height: 80px;
  display: inline-block;
  /* transition: all 0.2s ease-in; */
  box-sizing: border-box;
  text-decoration: none;
}
.menu ul li a:hover {
  border-top: 10px solid#1966aa;
}
.menu ul li:hover ul {
  visibility: visible;
}
.menu ul li ul {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: hsla(0, 0%, 99%, 0.9);
  position: absolute;
  visibility: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  top: 80px;
  width: 450px;
  margin: 0 -180px;
}
.menu ul li ul a:hover {
  border: none;
}
.menu ul li ul li {
  padding: 0 15px;
}
.menu ul li ul li a {
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
.menu ul li ul li a:hover {
  color: #1966aa;
}
/* tupianqiehuan */
.swiper-container {
  height: 650px;
  padding-top: 80px;
}

.swiper-slide a {
  display: block;
  text-align: center;
}
.content-a {
  height: 330px;
  display: flex;
}
.content-a .box {
  width: 34%;
  background-color: #e6e5e6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.content-a .box h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.content-a .box p {
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 25px;
}
.content-a .box-subtitle {
  height: 180px;
  background-size: contain !important;
  background-position: bottom !important;
}

.content-b {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.content-b .div h2 {
  text-align: center;
  color: #182027;
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 10px;
}
.content-b .div p {
  font-size: 14px;
  line-height: 1.8;
  color: #333;
  text-align: center;
  max-width: 800px;
}
/* tab */
.content-c .container {
  max-width: 1190px;
}
.nav-tabs {
  display: flex;
  justify-content: space-around;
}
.nav-tabs li a {
  border: none;
  font-size: 5rem;
}
.nav-tabs li i {
  font-size: 5rem;
}
.nav-tabs li p {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 0;
}
.content-d {
  display: flex;
  height: 330px;
}
.content-d-f {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.box02 {
  width: 60%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.content-d-r {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2px;
}
.content-d h3 {
  color: #fff;
  text-align: left;
  font-size: 19px;
  font-weight: bold;
}
.content-d p {
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  padding-top: 20px;
}
.footer {
  background-color: #182027;
  border-bottom: 1px solid #29333c;
  padding: 60px 0;
}
.footer .container {
  max-width: 1190px;
  margin: 0 auto;
}
.foot-wrap {
  display: flex;
  justify-content: space-between;
}
.footer_menu {
  display: flex;
  justify-content: space-around;
}
.footer_menu ul {
  padding-right: 80px;
}
.footer_menu li {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}
.footer_menu li a {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
}
.footer_menu a:hover {
  color: #fff;
  text-decoration: none;
}
.foot-info {
  display: flex;
}
.foot-info .contant {
  padding-right: 40px;
}
.foot-info li {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 12px;
}
.foot-info p {
  color: #fff;
  font-size: 18px;
}
.foot-qr {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.foot-info .foot-qr p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 1.4;
}
